<html>
<head>
<title>$u0.name</title>
</head>
<body>
<div>$u0.id</div>
<div>$u0.name</div>
<div>$u0.age</div>
<div>$u1.id</div>
<div>$u1.name</div>
<div>$u1.age</div>
<div>$u2.id</div>
<div>$u2.name</div>
<div>$u2.age</div>
<div>$a0.id</div>
<div>$a0.name</div>
<div>$a0.workfor</div>
</body>
</html>